@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 0.5px solid limegreen; */
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}

body {
  display: flex;
  justify-content: center;
}
.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1e1e1e;
  border-radius: 50px;
}

.title-cont {
  padding: 1rem;
  margin: 0.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2%;

  width: 90vw;
  max-width: 400px;
}

.inst {
  aspect-ratio: 1/ 1;
  display: flex;
  align-items: center;
  padding: 5%;
  background-color: #1e1e1e;
  border-radius: 20px;
  background: linear-gradient(to right, rgba(12, 4, 35, 255), #028cd6);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
